# Xcode
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# Derived Data & Logs
DerivedData/
*.log

# User-specific settings
*.swp
*.swo
*.DS_Store

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Keychains (evitar subir cosas sensibles)
*.keychain
*.keychain-db

# Env
.env

